{% extends "base.html.twig" %}

{% block body %}
{% block header %}

    {{include('generic/page_menu.html.twig')}}
    
{% endblock %}

{% block content %} 
    
      <!-- One -->
			<section id="one" class="wrapper style1 special">
                            <div class="alert">
                            {% for msg in app.session.flashBag.get('success') %}
                                <p class="green" style="color:green;"> {{msg}} </p>
                            {% endfor %}
                            </div>
				<div class="container">
					<header class="major">
						<h2>Admin USER Lists</h2>
						<p>Lorem ipsum dolor sit amet, delectus consequatur, similique quia!</p>
					</header>
					<div class="row 150%" style="padding:50px;">
						
                                            <table class="table-striped">
        <thead>
            <tr>
                <th>Email</th>
                <th>Role</th>
                {#<th>Edit</th>#}
                
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.email }}</td>
                    <td>{{ user.roles.0 }}</td>
                    <td>
                        <a href="{{path('edit_user_url', {'id':user.id})}}" ><img src="{{asset('images/edits.png')}}" class="btnedt"></a>
                    </td>
                </tr>
           {% endfor %}
        </tbody>
    </table> 
                                            
					</div>
				</div>
			</section>
  {% endblock %}

{% block footer %}

    {{include('generic/footer_page.html.twig')}}
    
{% endblock %}
{% endblock %}

