{% extends "base.html.twig" %}

{% block body %}
    {% block header %}

        {{include('generic/page_menu.html.twig')}}

    {% endblock %}

    {% block content %}

        {% block one %}
            <!-- Main -->
            <section id="main" class="wrapper">
                <div class="content">

                    {% for art in article %}
                    <header class="major">
                        <h2>{{ art.title }}</h2>
                        <p>Intro</p>
                    </header>


                        {% set arti = art.artContent|split(' ') %}
                        <p class="artcontent" >
                            {% for i in arti|slice(0, 100) %}
                                {{ i|raw }}
                            {% endfor %}
                            ...
                        </p>
                    <a href="{{ path('read_article', {'id':art.id}) }}"><p><b>Read more</b></p></a>

                    <hr>
                    {% endfor %}
                </div>

            </section>

        {% endblock %}
    {% endblock %}

    {% block footer %}

        {{include('generic/footer_page.html.twig')}}

    {% endblock %}
{% endblock %}
