{% extends 'user_account/layout.html.twig' %}

{% block two %}
    <a href="{{ path('new_article') }}"><p>Add Article</p></a>
    <a> {{ message }}</a>
    <hr>
    <article>
        <table id="sortingtab">
            <thead>
            <tr>
                <th>Title</th>
                <th>Content</th>
                <th>Author</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            {% for art in article %}
                <tr>
                    <td>{{ art.title }}</td>
                    <td>
                        {% set arti = art.artContent|split(' ') %}
                        <a href="{{ path('edit_article', {'id':art.id}) }}"><p>
                                {% for i in arti|slice(0, 10) %}
                                    {{ i }}
                                {% endfor %}
                                ...
                            </p></a>
                    </td>
                    <td>{{ art.updateAt|date('Y-m-d')}}></td>
                    <td>{{ art.author }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </article>

    </div>

{% endblock %}

